<template>
  <section class="home">
    <main-header/>
    <modal-window-repair v-if="modalShow" @close="close"/>

    <div class="container content">
      <h3>Работы</h3>

      <!-- Поиск -->
      <form class="search-wrapper" @submit.prevent="getSearch">
        <p>Поиск</p>
        <input type="search" class="search" v-model="search">
        <button type="submit">Поиск</button>
      </form>

      <!-- Сортировка -->
      <div class="sorting">
        <!-- По типу работы -->
        <div class="sorting-wrap">
          <p>Поиск по типу работы</p>
          <select v-model="workType" @input="selectionWorkType">
            <option value="work-0">Выбрать тип работы</option>
            <option :value="`work-${item.id}`" v-for="item in workTypes" :key="item.id">
              {{ item.work_type }}
            </option>
          </select>
        </div>

        <span>или</span>

        <!-- По типу объекта -->
        <div class="sorting-wrap">
          <p>Поиск по типу объекта</p>
          <select v-model="objectType" @input="selectionObjectType">
            <option value="object-0">Выбрать тип объекта</option>
            <option :value="`object-${item.id}`" v-for="item in objectTypes" :key="item.id">
              {{ item.object_type }}
            </option>
          </select>
        </div>

        <span class="add" @click="addWork(true, 'add')">Добавить работу</span>
      </div>

      <!-- Работы -->
      <div class="scroll">
        <div class="box" v-for="(item, id) in repairs" :key="`box-${id}`">
          <div class="box-item">
            <span>Адрес</span>
            <p>{{ item.address }}</p>
          </div>
          <div class="box-item">
            <div class="title-item">
              <span>Инициатор</span>
              <p>{{ item.initiator }}</p>
            </div>
            <div class="title-item">
              <span>Исполнитель</span>
              <p>{{ item.executor }}</p>
            </div>
            <div class="title-item">
              <span>Тип работы</span>
              <p>{{ item.work_type[0].work_type }}</p>
            </div>
            <div class="title-item">
              <span>Тип объекта</span>
              <p>{{ item.object_type[0].object_type }}</p>
            </div>
          </div>
          <div class="btns">
            <span class="up" @click="repairEdit(true, 'update', item)">Редактировать</span>
            <span class="del" @click="repairEdit(true, 'del', item)">Удалить</span>
            <router-link :to="`/repair/${item.id}`">
              Подробнее
            </router-link>
          </div>

        </div>
      </div>
    </div>
  </section>

</template>

<script>

import MainHeader from "@/components/MainHeader";
import {api} from "@/functions/api";
import ModalWindowRepair from "@/components/ModalWindowRepair";

export default {
  name: 'Index',

  components: {
    ModalWindowRepair,
    MainHeader
  },

  data() {
    return {
      repairs: [], // Работы
      workTypes: [], // Типы работ
      objectTypes: [], // Типы объектов
      search: '', // Вводимый текст поиска
      workType: 'work-0', // Выбранный тип работы
      objectType: 'object-0', // Выбранный тип объекта
    }
  },

  computed: {
    // Получение списка работ
    async getRepairs() {
      let myHeaders = new Headers();
      myHeaders.append("Authorization", `Bearer ${sessionStorage.getItem('token')}`);
      return await api(this.apiRoutes.baseUrl + this.apiRoutes.repair, 'GET', null, myHeaders).then(res => res.data)
    },

    modalShow(){
      return this.$store.getters.getModalShow
    },

    // Получение списка типов работ
    async getWorkTypeList() {
      let myHeaders = new Headers();
      myHeaders.append("Authorization", `Bearer ${sessionStorage.getItem('token')}`);
      return await api(this.apiRoutes.baseUrl + this.apiRoutes.repair + '/workTypeList', 'GET', null, myHeaders).then(res => res.data)
    },

    // Получение списка типов объекта
    async getObjectTypeList() {
      let myHeaders = new Headers();
      myHeaders.append("Authorization", `Bearer ${sessionStorage.getItem('token')}`);
      return await api(this.apiRoutes.baseUrl + this.apiRoutes.repair + '/objectTypeList', 'GET', null, myHeaders).then(res => res.data)
    },

    // Пути завпроса
    apiRoutes() {
      return this.$store.getters.getRoute
    },
  },

  watch: {
    // Слежка для поиска (пустое значение)
    async search(value) {
      if (!value) await this.getSearch
    }
  },

  async created() {
    if (!sessionStorage.getItem('token')) await this.$router.push('/login')
    this.repairs = await this.getRepairs
    this.workTypes = await this.getWorkTypeList
    this.objectTypes = await this.getObjectTypeList
    this.$store.commit('setObjectTypes', this.objectTypes)
    this.$store.commit('setWorkTypes', this.workTypes)
  },

  methods: {
    // Запрос для сортированного списка работ
    async getSelectionRepairs(param1, param2) {
      let arr;
      let myHeaders = new Headers();
      myHeaders.append("Authorization", `Bearer ${sessionStorage.getItem('token')}`);

      if (param2) arr = await api(this.apiRoutes.baseUrl + this.apiRoutes.repair + `?${param1}&${param2}`, 'GET', null, myHeaders).then(res => res.data)
      else arr = await api(this.apiRoutes.baseUrl + this.apiRoutes.repair + `?${param1}`, 'GET', null, myHeaders).then(res => res.data)

      return arr
    },

    // Поиск
    async getSearch() {
      let workId = +this.workType.substr(5)
      let objectId = +this.objectType.substr(7)

      let myHeaders = new Headers();
      myHeaders.append("Authorization", `Bearer ${sessionStorage.getItem('token')}`);

      if (workId && !objectId)
        this.repairs = await api(this.apiRoutes.baseUrl + this.apiRoutes.repair + `?work_type_id=${workId}&search_with_type=${this.search}`, 'GET', null, myHeaders).then(res => res.data)

      else if (!workId && objectId)
        this.repairs = await api(this.apiRoutes.baseUrl + this.apiRoutes.repair + `?object_type_id=${objectId}&search_with_type=${this.search}`, 'GET', null, myHeaders).then(res => res.data)

      else {
        this.objectType = 'object-0'
        this.workType = 'work-0'
        this.repairs = await api(this.apiRoutes.baseUrl + this.apiRoutes.repair + `?search=${this.search}`, 'GET', null, myHeaders).then(res => res.data)
      }
    },

    // Сортировка работ по их типу
    async selectionWorkType(event) {
      this.objectType = 'object-0'
      let workId = event.target.value.substr(5)
      let myHeaders = new Headers();
      myHeaders.append("Authorization", `Bearer ${sessionStorage.getItem('token')}`);

      if (+workId) {
        if (this.search) this.repairs = await api(this.apiRoutes.baseUrl + this.apiRoutes.repair + `?work_type_id=${workId}&search_with_type=${this.search}`, 'GET', null, myHeaders).then(res => res.data)
        else this.repairs = await this.getSelectionRepairs(`work_type_id=${workId}`)
      } else this.repairs = await this.getRepairs

    },

    // Сортировка работ по типу объекта
    async selectionObjectType(event) {
      this.workType = 'work-0'
      let objectId = event.target.value.substr(7)
      let myHeaders = new Headers();
      myHeaders.append("Authorization", `Bearer ${sessionStorage.getItem('token')}`);

      if (+objectId) {
        if (this.search) await api(this.apiRoutes.baseUrl + this.apiRoutes.repair + `?object_type_id=${objectId}&search_with_type=${this.search}`, 'GET', null, myHeaders).then(res => res.data)
        else this.repairs = await this.getSelectionRepairs(`object_type_id=${objectId}`)
      } else this.repairs = await this.getRepairs
    },

    hideModal(boll){
      this.$store.commit('setModalShow', boll)
      this.$store.commit('setModalType', "add")
      if (boll) this.$store.commit('setModalData', this.repairData)
    },

    addWork(boll, type){
      this.$store.commit('setModalShow', boll)
      this.$store.commit('setModalType', `${type}`)
    },

    repairEdit(boll, type, item){
      this.$store.commit('setModalShow', boll)
      this.$store.commit('setModalType', `${type}`)
      if (boll) this.$store.commit('setModalData', item)
      console.log(item);
    },

    close(){
      this.$store.commit('setModalShow', false)
    },
  }
}
</script>

<style scoped lang="scss">
@import "src/assets/styles/main";

.bold {
  font-weight: bold;
  color: gray;
}

.home {
  width: 100%;
  height: 100%;
}

.content {
  padding: 2rem 0;
  height: calc(90% - 10rem);

  h3 {
    font-size: 1.5rem;
  }

  .sorting {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;

    .add{
      font-weight: bold;
      font-size: 1rem;
      cursor: pointer;
    }

    span {
      font-size: 1.5rem;
      margin: 0 3rem;
    }

    &-wrap {

      p {
        font-size: 1.2rem;
        margin-bottom: .4rem;
        font-weight: 700;
      }

      select {
        min-width: 20rem;
        font-size: 1rem;
      }
    }
  }

  .search-wrapper {
    display: flex;
    align-items: center;
    margin: 2rem 0;

    p {
      font-size: 1.2rem;
      font-weight: 700;
    }

    input {
      margin: 0 1rem;
      width: 15rem
    }
  }

  .scroll {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-right: 1rem;
  }

  .box {
    display: flex;
    justify-content: space-between;
    border: 1px solid #000000;
    width: 43%;
    padding: sizeAuto(32);
    margin-bottom: sizeAuto(32);
    position: relative;

    &-item {
      margin-right: 1rem;

      &:last-child {
        text-align: right;
      }

      .title-item {
        margin-bottom: 1.5rem;
      }

      span {
        font-weight: 400;
        font-size: 1rem;
        color: #000000;
      }

      p {
        font-weight: 700;
        font-size: 2rem;
        line-height: 130%;
      }
    }

    .btns {
      display: flex;
      flex-direction: column;
      position: absolute;
      left: 0;
      bottom: 0;

      span{
        padding: 1rem;
        transition: .2s;
        background: #000;
        cursor: pointer;
        color: #ffffff;
        border-bottom: 1px solid #fff;
      }

      .del:hover{
        background: red;
      }

      .up:hover{
        background: orange;
      }

      a {
        padding: 1.5rem;
        font-weight: 400;
        font-size: 1rem;
        background: #000;
        color: #ffffff;
      }
    }
  }
}

@media (max-width: 768px) {
  .content {

    .sorting {
      display: flex;
      align-items: flex-start;
      flex-direction: column;

      span {
        margin: 1rem 0;
      }
    }

    .scroll {
      flex-direction: column;
      justify-content: flex-start;
      flex-wrap: nowrap;
    }

    .box {
      width: 90%;
      padding: sizeAuto(32);
      margin-bottom: sizeAuto(32);
      position: relative;
    }
  }

}

</style>