<template>
  <section>
    <main-header/>
    <div class="content">
      <transition name="fade">
        <form v-if="check === 0" class="auth" @submit.prevent="authorization">
          <h2>Авторизация</h2>
          <input autocomplete="on" type="text" placeholder="Логин" v-model="login.name">
          <input autocomplete="on" type="password" placeholder="Пароль" v-model="login.password">
          <button type="submit">Войти</button>
        </form>

        <form v-if="check === 1" class="reg" @submit.prevent="registration">
          <h2>Регистрация</h2>
          <input v-model="register.name" type="text" placeholder="Введите логин" required>
          <input v-model="register.email" type="email" placeholder="Введите почту" required>
          <input v-model="register.password" type="password" autocomplete="on" placeholder="Введите пароль" required>
          <input v-model="register.c_password" type="password" autocomplete="on" placeholder="Повторите пароль" required>
          <button type="submit">Зарегистрироваться</button>
        </form>
      </transition>
      <div class="buttons">
        <span @click="check = 0" :class="{'active' : check === 0}">Авторизация</span>
        <span @click="check = 1" :class="{'active': check === 1}">Регистрация</span>
      </div>
    </div>
  </section>
</template>

<script>
import MainHeader from "@/components/MainHeader";
import {api} from "@/functions/api";

export default {
  name: "Login",
  components: {MainHeader},
  data(){
    return{
      check: 0,
      register: { // поля для регистрации
        name: '',
        email: '',
        password: '',
        c_password: ''
      },
      login: { // поля для авторизации
        name: '',
        password: ''
      }
    }
  },

  computed: {
    // Пути завпроса
    apiRoutes(){
      return this.$store.getters.getRoute
    }
  },

  methods:{
    // Регистрация
    async registration(){
      try {
        let body = new FormData();
        body.append("email", `${this.register.email}`);
        body.append("name", `${this.register.name}`);
        body.append("password", `${this.register.password}`);
        body.append("c_password", `${this.register.c_password}`);

        let myHeaders = new Headers();
        myHeaders.append("Accept", "application/json");

        let req = await api(this.apiRoutes.baseUrl + this.$store.state.api_route.register, 'POST', body, myHeaders).then(res => res.data)
        if (req.token){
          sessionStorage.setItem('token', req.token)
          this.$noty.success("Регистрация прошла успешно!")
          await this.$router.push('/')
        }

        else {
          this.$noty.error("Ошибка регистрации!")
        }
      }

      catch (e) {
        this.$noty.error("Ошибка регистрации!")
      }
    },

    // Авторизация
    async authorization(){
      try {
        let body = new FormData();
        body.append("name", `${this.login.name}`);
        body.append("password", `${this.login.password}`);

        let myHeaders = new Headers();
        myHeaders.append("Accept", "application/json");

        let req = await api(this.apiRoutes.baseUrl + this.apiRoutes.login, 'POST', body, myHeaders).then(res => res.data)
        if (req.access_token){
          sessionStorage.setItem('token', req.access_token)
          await this.$router.push('/')
        }

        else {
          this.$noty.error("Ошибка авторизации!")
        }
      }

      catch (e) {
        this.$noty.error("Ошибка авторизации!")
      }
    }
  }
}
</script>

<style scoped lang="scss">

.content{
  margin-top: 2rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .buttons{
    display: flex;
    margin-top: 1rem;
    align-items: center;

    span{
      margin-right: 2rem;
      font-size: 1rem;
      cursor: pointer;

      &:last-child{
        margin-right: 0;
      }
    }

    .active{
      color: green;
      position: relative;
      font-weight: bold;

      &::before{
        content: '';
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        height: 2px;
        background: green;
      }
    }
  }

  form.reg{
    margin: 0 auto;
    width: 30%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
    //box-shadow: 0 0 10px #ccc;
    border-radius: 8px;
    padding: 1rem;

    h2{
      text-align: center;
      font-size: 2.5rem;
      margin-bottom: 3rem;
    }

    input{
      width: 70%;
      margin-bottom: 1rem;
      padding: .7rem 1rem;
      border: none;
      border-bottom: 1px solid #000;
      transition: .2s;
      font-size: .94rem;

      &:focus{
        box-shadow: 0 0 5px #000000;
      }
    }

    button{
      margin-top: 1rem;
      font-size: 1rem;
      background: transparent;
      border: 1px solid #000;
      cursor: pointer;
      padding: .7rem 1rem;
      transition: .2s;

      &:hover{
        color: #fff;
        background: green;
        border-color: green;
      }
    }
  }

  form.auth{
    margin: 0 auto;
    width: 30%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
    border-radius: 8px;
    padding: 1rem;

    h2{
      text-align: center;
      font-size: 2.5rem;
      margin-bottom: 3rem;
    }

    input{
      width: 70%;
      margin-bottom: 3rem;
      padding: .7rem 1rem;
      border: none;
      border-bottom: 1px solid #000;
      transition: .2s;
      font-size: .94rem;

      &:focus{
        box-shadow: 0 0 5px #000000;
      }
    }

    button{
      margin-top: 1rem;
      font-size: 1rem;
      background: transparent;
      border: 1px solid #000;
      cursor: pointer;
      padding: .7rem 1rem;
      transition: .2s;

      &:hover{
        color: #fff;
        background: green;
        border-color: green;
      }
    }
  }
}

@media (min-width: 421px) and (max-width: 768px) {
  .content{
    margin-top: 5rem;

    form.reg{
      width: 70%;
      height: auto;
    }

    form.auth{
      width: 70%;
      height: auto;
    }
  }
}

@media (max-width: 420px) {
  .content{
    margin-top: 5rem;

    form.reg{
      width: 70%;
      height: auto;
    }

    form.auth{
      width: 70%;
      height: auto;
    }
  }
}

</style>