<template>
  <section>
    <router-link to="/">
      на главную
    </router-link>

    <div class="repair">
      <h2 class="title">Работа</h2>
      <div class="repair-item">
        <div class="repair-item-content">
          <span>Адрес</span>
          <p>{{ notNullValue(repairData.address) }}</p>
        </div>
        <div class="repair-item-content">
          <span>Исполнитель</span>
          <p>{{ notNullValue(repairData.intention) }}</p>
        </div>
        <div class="repair-item-content">
          <span>Инициатор</span>
          <p>{{ notNullValue(repairData.initiator) }}</p>
        </div>
      </div>
      <div class="repair-item">
        <div class="repair-item-content">
          <span>Тип работ</span>
          <p>{{ notNullValue(workType) }}</p>
        </div>
        <div class="repair-item-content">
          <span>Тип объекта</span>
          <p>{{ notNullValue(objectType) }}</p>
        </div>
        <div class="repair-item-content">
          <span>Методы и материалы</span>
          <p>{{ notNullValue(repairData.methods_and_materials) }}</p>
        </div>
      </div>
      <div class="repair-item">
        <div class="repair-item-content">
          <span>Дата начала</span>
          <p>{{ dateValidate(repairData.start_date) }}</p>
        </div>
        <div class="repair-item-content">
          <span>Дата окончания</span>
          <p>{{ dateValidate(repairData.end_date) }}</p>
        </div>
      </div>
    </div>

    <div class="comments">
      <h2 class="title">Комментари</h2>
      <comment-item
          v-for="(comment, id) in comments"
          :key="`comment-${id}`"
          :item="comment"
      />
      <div class="buttons">
        <span @click="hideModal(true)">Добавить комментарий к работе</span>
        <span @click="delComment(true)">Удалить комментарий</span>
        <span @click="upComment(true)">Редактировать комментарий</span>
      </div>
    </div>

  </section>
</template>

<script>

import {api} from "@/functions/api";
import CommentItem from "@/components/CommentItem";

export default {
  name: "RepairDetail",
  components: {CommentItem},
  // id:
  data() {
    return {
      repairId: this.$route.params.id,
      repairData: [],
      comments: [],
      workType: null,
      objectType: null,
    }
  },

  computed: {
    apiRoutes() {
      return this.$store.getters.getRoute
    },

    async getRepair() {
      let myHeaders = new Headers();
      myHeaders.append("Authorization", `Bearer ${sessionStorage.getItem('token')}`);
      return await api(this.apiRoutes.baseUrl + this.apiRoutes.repair + `/${this.repairId}`, "GET", null, myHeaders).then(res => res.data)
    },

    async getComments() {
      let myHeaders = new Headers();
      myHeaders.append("Authorization", `Bearer ${sessionStorage.getItem('token')}`);
      return await api(this.apiRoutes.baseUrl + this.apiRoutes.comments + `/withWork/${this.repairId}`, "GET", null, myHeaders).then(res => res.data)
    }
  },

  async created() {
    if (!sessionStorage.getItem('token')) await this.$router.push('/login')

    this.repairData = await this.getRepair
    this.comments = await this.getComments

    this.workType = this.repairData.work_type[0].work_type
    this.objectType = this.repairData.object_type[0].object_type
  },

  methods: {
    // Валидация даты
    dateValidate(tempDate) {
      if (tempDate) {
        const date = new Date(tempDate);
        const options = {
          year: 'numeric',
          month: 'numeric',
          day: 'numeric',
        }
        return date.toLocaleString("ru", options)
      }
      else return '-'
    },

    notNullValue(temp) {
      if (temp) return temp
      else return '-'
    },

    hideModal(boll){
      this.$store.commit('setModalShow', boll)
      this.$store.commit('setModalType', "add")
      if (boll) this.$store.commit('setModalData', this.repairData)
    },

    delComment(boll){
      this.$store.commit('setModalShow', boll)
      this.$store.commit('setModalType', "del")
      if (boll) this.$store.commit('setModalData', this.repairData)
    },

    upComment(boll){
      this.$store.commit('setModalShow', boll)
      this.$store.commit('setModalType', "update")
      if (boll) this.$store.commit('setModalData', this.repairData)
    }
  }
}
</script>

<style scoped lang="scss">

section {
  margin: 0 auto;
  width: 80%;
  padding: 2rem 0;

  .buttons{
    font-weight: bold;
    display: flex;
    align-items: center;
    border-top: 2px solid #000;

    span{
      margin-right: 1rem;
      cursor: pointer;
    }
  }

  .title{
    font-size: 1.75rem;
    margin-bottom: 1rem;
  }

  a {
    color: #F1074D;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 130%;
  }

  .repair {
    margin: 1.5rem 0;
    display: flex;
    flex-direction: column;
    width: 100%;

    &-item {
      width: 100%;
      margin: 2rem 0;
      display: flex;
      align-items: center;
      justify-content: space-around;

      &-content {
        span {
          font-weight: 400;
          font-size: .94rem;
          line-height: 150%;
        }

        p {
          font-weight: 700;
          font-size: 2rem;
          line-height: 130%;
          color: #000;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .comments{
    padding-top: 2rem;
    width: 60%;
  }
}

@media (max-width: 768px) {
  section {
    .repair {
      &-item {
        margin: 1rem 0;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;

        &-content {
          margin: 1rem 0;
        }
      }
    }
    .comments{
      width: 80%;
    }
  }

}

</style>