<template>
  <div class="comment-text">
    <modal-window
        v-if="modalShow"
        @close="hideModal(false)"
    />
    {{ item.comment_text }}

    <div class="buttons">
      <span @click="hideModal(true)">Добавить комментарий</span>
      <span @click="delComment(true)">Удалить комментарий</span>
      <span @click="upComment(true)">Редактировать комментарий</span>
    </div>

    <comment-item
        v-for="(subComment, id) in item.comment"
        :key="`sub-comment-${id}`"
        v-show="item.comment !== []"
        :item="subComment"
        class="subcomment comment-text"
    />
  </div>
</template>

<script>

import ModalWindow from "@/components/ModalWindow";
export default {
  name: "CommentItem",
  components: {ModalWindow},

  data(){
    return{
    }
  },

  props:{
    item: {
      type: Object,
      required: true
    }
  },

  computed: {
    modalShow(){
      return this.$store.getters.getModalShow
    }
  },

  methods: {
    hideModal(boll){
      this.$store.commit('setModalShow', boll)
      this.$store.commit('setModalType', "add")
      if (boll) this.$store.commit('setModalData', this.item)
    },

    delComment(boll){
      this.$store.commit('setModalShow', boll)
      this.$store.commit('setModalType', "del")
      if (boll) this.$store.commit('setModalData', this.item)
    },

    upComment(boll){
      this.$store.commit('setModalShow', boll)
      this.$store.commit('setModalType', "update")
      if (boll) this.$store.commit('setModalData', this.item)
    }
  },
}

</script>

<style lang="scss" scoped>
.comment-text{
  margin: 2rem 0;
}

.subcomment{
  border-bottom: none;
  padding-left: 3rem;
  margin: 1.5rem 0;
}

.buttons{
  font-weight: bold;
  display: flex;
  align-items: center;

  span{
    margin-right: 1rem;
    cursor: pointer;
  }
}

</style>