<template>
  <div class="background">
    <form @submit.prevent="add" class="modal" v-if="modalType === 'add'">
      <svg @click="close" width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M14 1.41L12.59 0L7 5.59L1.41 0L0 1.41L5.59 7L0 12.59L1.41 14L7 8.41L12.59 14L14 12.59L8.41 7L14 1.41Z"
              fill="white"/>
      </svg>

      <input v-model="address" type="text" placeholder="Адрес" required>
      <input v-model="executor" type="text" placeholder="Исполнитель" required>
      <input v-model="intention" type="text" placeholder="Намерение" required>
      <input v-model="initiator" type="text" placeholder="Инициатор" required>
      <input v-model="plan" type="text" placeholder="План" required>
      <input v-model="reason_for_work" type="text" placeholder="Причина работы" required>
      <input v-model="methods_and_materials" type="text" placeholder="Методы и материалы" required>
      <input v-model="start_date" type="date" placeholder="Начальная дата" required>
      <input v-model="end_date" type="date" placeholder="Конечная дата" required>

      <select v-model="work_type_id">
        <option value="w-0">Выбрать тип работы</option>
        <option :value="`w-${item.id}`" v-for="item in workTypes" :key="`w-${item.id}`">
          {{ item.work_type }}
        </option>
      </select>

      <select v-model="object_type_id">
        <option value="o-0">Выбрать тип объекта</option>
        <option :value="`o-${item.id}`" v-for="item in objectTypes" :key="`o-${item.id}`">
          {{ item.object_type }}
        </option>
      </select>

      <button type="submit">
        Отправить
      </button>
    </form>

    <form @submit.prevent="del" class="modal" v-else-if="modalType === 'del'">
      <svg @click="close" width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M14 1.41L12.59 0L7 5.59L1.41 0L0 1.41L5.59 7L0 12.59L1.41 14L7 8.41L12.59 14L14 12.59L8.41 7L14 1.41Z"
              fill="white"/>
      </svg>

      <h3>Удалить работу</h3>
      <p>{{ modalData.executor }}</p>
      <button type="submit">
        Удалить
      </button>
    </form>

    <form @submit.prevent="update" class="modal" v-else-if="modalType === 'update'">
      <svg @click="close" width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M14 1.41L12.59 0L7 5.59L1.41 0L0 1.41L5.59 7L0 12.59L1.41 14L7 8.41L12.59 14L14 12.59L8.41 7L14 1.41Z"
              fill="white"/>
      </svg>

      <input v-model="address" type="text" placeholder="Адрес" required>
      <input v-model="executor" type="text" placeholder="Исполнитель" required>
      <input v-model="intention" type="text" placeholder="Намерение" required>
      <input v-model="initiator" type="text" placeholder="Инициатор" required>
      <input v-model="plan" type="text" placeholder="План" required>
      <input v-model="reason_for_work" type="text" placeholder="Причина работы" required>
      <input v-model="methods_and_materials" type="text" placeholder="Методы и материалы" required>
      <input v-model="start_date" type="date" placeholder="Начальная дата" required>
      <input v-model="end_date" type="date" placeholder="Конечная дата" required>

      <select v-model="work_type_id">
        <option value="w-0">Выбрать тип работы</option>
        <option :value="`w-${item.id}`" v-for="item in workTypes" :key="`w-${item.id}`">
          {{ item.work_type }}
        </option>
      </select>

      <select v-model="object_type_id">
        <option value="o-0">Выбрать тип объекта</option>
        <option :value="`o-${item.id}`" v-for="item in objectTypes" :key="`o-${item.id}`">
          {{ item.object_type }}
        </option>
      </select>

      <button type="submit">
        Отправить
      </button>
    </form>
  </div>
</template>

<script>
import {api} from "@/functions/api";

export default {
  name: "ModalWindow",

  data() {
    return {
      address: '',
      executor: '',
      intention: '',
      initiator: '',
      plan: '',
      reason_for_work: '',
      methods_and_materials: '',
      start_date: '',
      end_date: '',
      object_type_id: 'o-0',
      work_type_id: 'w-0'
    }
  },

  computed: {
    modalData() {
      return this.$store.getters.getModalData
    },

    modalType() {
      return this.$store.getters.getModalType
    },

    apiRoutes() {
      return this.$store.getters.getRoute
    },

    workTypes(){
      return this.$store.getters.getWorkTypes
    },

    objectTypes(){
      return this.$store.getters.getObjectTypes
    }
  },

  created() {
    document.getElementById('app').style.overflowY = "hidden"
    if (this.modalData.address) this.address = this.modalData.address
    if (this.modalData.executor) this.executor = this.modalData.executor
    if (this.modalData.intention) this.intention = this.modalData.intention
    if (this.modalData.initiator) this.initiator = this.modalData.initiator
    if (this.modalData.plan) this.plan = this.modalData.plan
    if (this.modalData.reason_for_work) this.reason_for_work = this.modalData.reason_for_work
    if (this.modalData.methods_and_materials) this.methods_and_materials = this.modalData.methods_and_materials
    if (this.modalData.start_date) this.start_date = this.modalData.start_date
    if (this.modalData.end_date) this.end_date = this.modalData.end_date
    if (this.modalData.object_type_id) this.object_type_id = "o-" + this.modalData.object_type_id
    if (this.modalData.work_type_id) this.work_type_id = "w-" + this.modalData.work_type_id
  },

  beforeDestroy() {
    this.$store.commit('setModalData', null)
    document.getElementById('app').style.overflowY = "auto"
  },

  methods: {
    close() {
      this.$emit('close')
    },

    async add() {
      const body = new FormData()
      body.append("address", this.address)
      body.append("executor", this.executor)
      body.append("intention", this.intention)
      body.append("initiator", this.initiator)
      body.append("plan", this.plan)
      body.append("reason_for_work", this.reason_for_work)
      body.append("methods_and_materials", this.methods_and_materials)
      body.append("start_date", this.start_date)
      body.append("end_date", this.end_date)
      body.append("object_type_id", +(this.object_type_id.split("-")[1]))
      body.append("work_type_id", +(this.work_type_id.split("-")[1]))

      let myHeaders = new Headers()
      myHeaders.append("Authorization", `Bearer ${sessionStorage.getItem('token')}`)

      let temp = await api(this.apiRoutes.baseUrl + '/repair', "POST", body, myHeaders)
      if (temp.status === 201) this.$noty.success('Работа добавлена')
      else this.$noty.error('Ошибка сервера')
      this.$store.commit('setModalShow', false)
    },

    async del() {
      let myHeaders = new Headers()
      myHeaders.append("Authorization", `Bearer ${sessionStorage.getItem('token')}`);
      let req = await api(this.apiRoutes.baseUrl + '/repair/' + this.modalData.id, "DELETE", null, myHeaders)
      if (req.status === 204)  this.$noty.success('Работа удалена')
      else this.$noty.error('Ошибка сервера')
      this.$store.commit('setModalShow', false)
      // location.reload()
    },

    async update(){
      const body = new FormData()
      body.append("address", this.address)
      body.append("executor", this.executor)
      body.append("intention", this.intention)
      body.append("initiator", this.initiator)
      body.append("plan", this.plan)
      body.append("reason_for_work", this.reason_for_work)
      body.append("methods_and_materials", this.methods_and_materials)
      body.append("start_date", this.start_date)
      body.append("end_date", this.end_date)
      body.append("object_type_id", +(this.object_type_id.split("-")[1]))
      body.append("work_type_id", +(this.work_type_id.split("-")[1]))

      let myHeaders = new Headers()
      myHeaders.append("Authorization", `Bearer ${sessionStorage.getItem('token')}`)

      let temp = await api(this.apiRoutes.baseUrl + '/repair/' + this.modalData.id, "POST", body, myHeaders)
      if (temp.status === 204) this.$noty.success('Работа обновлена')
      else this.$noty.error('Ошибка сервера')
      this.$store.commit('setModalShow', false)
    },
  }
}

</script>

<style lang="scss" scoped>

.background {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .2);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;

  .modal {
    padding: 2rem 1rem 1rem 1rem;
    background: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 25rem;
    min-height: 15rem;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 10px #c4c4c4;
    max-height: 40rem;
    overflow-y: auto;

    input {
      margin: .5rem 0;
      width: 20rem;
      padding: 1rem;
      border-radius: 8px;
      border: 1px solid #000;
      background: none;
      font-size: 1.2rem;
    }

    select{
      margin: .5rem;
      width: 20rem;
    }

    h3 {
      margin-bottom: 1rem;
    }

    button {
      margin: 2rem 0;
      padding: 1rem 2rem;
      background: none;
      border: 1px solid #000;
      cursor: pointer;
      transition: .2s;
      font-size: 1rem;

      &:hover {
        background: green;
        color: #ffffff;
        border-color: #fff;
      }
    }

    svg {
      position: absolute;
      right: 3%;
      top: 3%;
      cursor: pointer;
      width: 1rem;
      height: 1rem;

      path {
        fill: #000;
      }
    }
  }
}

</style>