<template>
  <div class="background">
    <form @submit.prevent="addComment" class="modal" v-if="modalType === 'add'">
      <svg @click="close" width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M14 1.41L12.59 0L7 5.59L1.41 0L0 1.41L5.59 7L0 12.59L1.41 14L7 8.41L12.59 14L14 12.59L8.41 7L14 1.41Z"
              fill="white"/>
      </svg>

      <input v-model="comment_text" type="text" placeholder="Введите текст комментария" required>
      <button type="submit">
        Отправить
      </button>
    </form>

    <form @submit.prevent="delComment" class="modal" v-else-if="modalType === 'del'">
      <svg @click="close" width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M14 1.41L12.59 0L7 5.59L1.41 0L0 1.41L5.59 7L0 12.59L1.41 14L7 8.41L12.59 14L14 12.59L8.41 7L14 1.41Z"
              fill="white"/>
      </svg>

      <h3>Удалить комментарий</h3>
      <p>{{ modalData.comment_text }}</p>
      <button type="submit">
        Удалить
      </button>
    </form>

    <form @submit.prevent="updateComment" class="modal" v-else-if="modalType === 'update'">
      <svg @click="close" width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M14 1.41L12.59 0L7 5.59L1.41 0L0 1.41L5.59 7L0 12.59L1.41 14L7 8.41L12.59 14L14 12.59L8.41 7L14 1.41Z"
              fill="white"/>
      </svg>

      <input v-model="comment_text" type="text" placeholder="Введите текст комментария" required>
      <button type="submit">
        Отправить
      </button>
    </form>

  </div>
</template>

<script>
import {api} from "@/functions/api";

export default {
  name: "ModalWindow",

  data() {
    return {
      comment_text: ''
    }
  },

  computed: {
    modalData() {
      return this.$store.getters.getModalData
    },

    modalType() {
      return this.$store.getters.getModalType
    },

    apiRoutes() {
      return this.$store.getters.getRoute
    }
  },

  created() {
    document.getElementById('app').style.overflowY = "hidden"
  },

  beforeDestroy() {
    this.$store.commit('setModalData', null)
    document.getElementById('app').style.overflowY = "auto"
  },

  methods: {
    close() {
      this.$emit('close')
    },

    async addComment() {
      const body = new FormData()
      body.append("comment_text", this.comment_text)
      if (this.modalData.repair_work_id) {
        body.append("repair_work_id", this.modalData.repair_work_id)
        if (this.modalData.id) body.append("comment_id", this.modalData.id)
      }
      else body.append("repair_work_id", this.modalData.id)

      let myHeaders = new Headers()
      myHeaders.append("Authorization", `Bearer ${sessionStorage.getItem('token')}`)

      let temp = await api(this.apiRoutes.baseUrl + '/comments', "POST", body, myHeaders)
      if (temp.status === 201) this.$noty.success('Комментарий добавлен')
      else this.$noty.error('Ошибка сервера')
      this.$store.commit('setModalShow', false)
    },

    async delComment() {
      let myHeaders = new Headers()
      myHeaders.append("Authorization", `Bearer ${sessionStorage.getItem('token')}`);
      let req = await api(this.apiRoutes.baseUrl + '/comments/' + this.modalData.id, "DELETE", null, myHeaders)
      if (req.status === 204)  this.$noty.success('Комментарий удален')
      else this.$noty.error('Ошибка сервера')
      this.$store.commit('setModalShow', false)
      location.reload()
    },

    async updateComment(){
      const body = new FormData()
      if (this.modalData.repair_work_id) {
        if (this.modalData.id) body.append("comment_id", this.modalData.id)
        body.append("repair_work_id", this.modalData.repair_work_id)
      }
      else body.append("repair_work_id", this.modalData.id)
      body.append("comment_text", this.comment_text)
      let myHeaders = new Headers()
      myHeaders.append("Authorization", `Bearer ${sessionStorage.getItem('token')}`)

      let temp = await api(this.apiRoutes.baseUrl + '/comments/' + this.modalData.id, "POST", body, myHeaders)
      if (temp.status === 204) this.$noty.success('Комментарий обновлен')
      else this.$noty.error('Ошибка сервера')
      this.$store.commit('setModalShow', false)
    },
  }
}

</script>

<style lang="scss" scoped>

.background {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .05);
  display: flex;
  align-items: center;
  justify-content: center;

  .modal {
    padding: 2rem 1rem 1rem 1rem;
    background: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 25rem;
    min-height: 15rem;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 10px #c4c4c4;

    input {
      margin: 2rem 0;
      width: 20rem;
      padding: 1rem;
      border-radius: 8px;
      border: 1px solid #000;
      background: none;
      font-size: 1.2rem;
    }

    h3 {
      margin-bottom: 1rem;
    }

    button {
      margin: 2rem 0;
      padding: 1rem 2rem;
      background: none;
      border: 1px solid #000;
      cursor: pointer;
      transition: .2s;
      font-size: 1rem;

      &:hover {
        background: green;
        color: #ffffff;
        border-color: #fff;
      }
    }

    svg {
      position: absolute;
      right: 3%;
      top: 3%;
      cursor: pointer;
      width: 1rem;
      height: 1rem;

      path {
        fill: #000;
      }
    }
  }
}

</style>