*{
  margin: 0;
  padding: 0;
  outline: none;
  font-family: 'Roboto', sans-serif;

  &::-webkit-scrollbar {
    width: 10px;
    background: #c4c4c4;
  }

  &::-webkit-scrollbar-thumb {
    background: #222;
  }
}

html,body{
  width: 100%;
  height: 100%;
}

html{
  font-size: 1vw;
}

a{
  text-decoration: none;
}

.fade-enter {
  opacity: 0;
  transition: .25s;
  transform: translateY(-20%);
}

.fade-enter-to {
  opacity: 1;
  transform: translateY(0);
  transition: .25s
}


@function sizeAuto($size){
  @return ($size / 1920) * 100rem
}

.container{
  width: 75%;
  margin: 0 auto;
}

@media (min-width: 421px) and (max-width: 768px) {
  html{
    font-size: 1.7vw;
  }
}

@media screen and (max-width: 420px) {
  html{
    font-size: 2vw;
  }
}